# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production Build
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Editor / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Debug / Cache
.eslintcache
.stylelintcache
.cache/
.parcel-cache